<body>
<div class="container mb-5 p-3 border border-info rounded">  
        <p class="navbar navbar-dark bg-info rounded text-white" col>
            Product List
        </p>  
        <div id="table">
            {{>table}}
        </div>
        
    </div>
    <div>
        {{>chat}}
    </div>
    <script src="index.js"></script>
</body>