<div class="container mt-3 p-3 border border-info rounded">
        <p class="navbar navbar-dark bg-info rounded text-white" col>
            Register & Chat
        </p>
        <form class="mt-3" id="registerForm">
            <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                </div>
                <input type="text " name="Nombre" id="nombre" class="form-control " placeholder="Type your first name">
            </div>
            <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellido</span>
                </div>
                <input type="text " name="apellido" id="apellido" class="form-control " placeholder="Type your last name">
            </div>
            <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Mail</span>
                </div>
                <input type="text " name="mail" id="mail" class="form-control " placeholder="Type your email">
            </div>
            <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Edad</span>
                </div>
                <input type="text " name="edad" id="edad" class="form-control " placeholder="Type your age">
            </div>
             <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Alias</span>
                </div>
                <input type="text " name="alias" id="alias" class="form-control " placeholder="Type your alias">
            </div>
             <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Avatar</span>
                </div>
                <input type="text " name="avatar" id="avatar" class="form-control " placeholder="Type your avatar">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-info mx-3">Register Data</button>
            </div>
                <span id="mailId"></span>
        </form>
        <div class="container mt-3 p-3 border border-info rounded">

            <form id="newMessageForm">
                <div id="chat"></div>
                <div class="mt-2 d-flex justify-content-center">
                    <input id="message" type="text " name="mail" id="mail" class="form-control "
                        placeholder="What are you thinking?">
                    <button disabled id="message-btn" type="submit " class="btn btn-info ml-2">Send</button>
                </div>
            </form>

        </div>
    </div>