<div class="container mb-5 mt-3 p-3 border border-info rounded">
        <h3 class="navbar navbar-dark bg-info rounded text-white" col>
            Login de usuario
        </h3>
    <form id="loginInput" action="/login" method="post" >
        <h7>Ingrese su nombre</h7>
        <input name="loginName" class="w-100 mb-2" type="text"/>
        <div>
        <button class="w-10 btn btn-info">Enviar</button>
        </div>
    </form>
</div>